<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Database Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleh1.css') }}">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="menu">
                <h3 class="logo">DB<span>Project</span></h3>
                <div class="hamburger-menu">
                    <div class="bar"></div>
                </div>
            </div>
        </div>
        

        <div class="main-container">
            <div class="main">
                <header>
                    <body>

                      
                        <section id="section-1">
                          
                          <img style="background-color: transparent;max-height: 100%;
                          max-width: 100%;
                          width: auto;
                          height: auto;
                          position: absolute;
                          top: 0;
                          bottom: 0;
                          left: 0;
                          right: 0;
                          margin: auto;
                          " src="static/photo/Group.png" alt="">
                          <h1 style="position: absolute; margin: 150px; margin-left: 370px;">Animal Crossing New Horizons</h1>
                          
                            
                            <a id="scroll-btn" href="#section-2"></a>
                          </section>

                            

                        <section id = "section-2">
                        <div class="containerfrkn">
                            
                           
                           <div class="card">
                            <a href="/villagers/index">
                            <div class="face face1">
                              <div class="content">
                                 <img src="static/photo/villager2.webp">               
                                 <h3>VILLAGERS</h3>
                              </div>
                            </div>
                          </a>
                            <div class="face face2">
                              <div class="content">
                            
                                <p> Villager</p>
                               
                              </div>
                            </div>
                         </div>

                           <div class="card">
                            <a href="/tools/tools_index">
                              <div class="face face1">
                                <div class="content">
                                   <img src="static/photo/tool2.webp">               
                                   <h3>Tool</h3>
                                </div>
                              </div>
                            </a>
                              <div class="face face2">
                                <div class="content">
                                  <p> Tools</p>
                                  
                                </div>
                              </div>
                           </div>
                           
                           
                           <div class="card">
                            <a href="dressup/dressup_index">
                              <div class="face face1">
                                <div class="content">
                                   <img src="static/photo/dress2.webp"> 
                                   <h3>Dress-up</h3>
                                </div>
                              </div>
                            </a>
                              <div class="face face2">
                                <div class="content">
                                  <p> Dress</p>
        
                                </div>
                              </div>
                           </div>
                           <div class="card">
                            <a href="/accessory/accessory_index">
                               <div class="face face1">
                                 <div class="content">
                                    <img src="static/photo/acss.png">          
                                   <h3>Accessories</h3>
                                 </div>
                               </div>
                              </a>
                               <div class="face face2">
                                 <div class="content">
                                   <p>Accessories </p>
                                   
                                 </div>
                               </div>
                            </div>

                            <div class="card">
                              <a href="/wallpaper/wallpaper_index">
                               <div class="face face1">
                                 <div class="content">
                                    <img src="static/photo/wall2.webp">               
                                    <h3>Wallpapers</h3>
                                 </div>
                               </div>
                              </a>
                               <div class="face face2">
                                 <div class="content">
                                   <p> Wallpapers</p>
                                 </div>
                               </div>
                            </div>
                            
                            
                            <div class="card">
                              <a href="/floor/floor_index">
                               <div class="face face1">
                                 <div class="content">
                                    <img src="static/photo/floor2.webp"> 
                                    <h3>Floor</h3>
                                 </div>
                               </div>
                              </a>
                               <div class="face face2">
                                 <div class="content">
                                   <p> Floor</p>
                                 </div>
                               </div>
                            </div>
                        
                           
                         </div>
                        </section>
                        
                    </body> 
                      
                      
                    
                </header>
            </div>

            <div class="shadow one"></div>
            <div class="shadow two"></div>
        </div>

        <div class="links">
            <ul>
                <li>
                    <a href="/" style="--i: 0.05s;">Home</a>
                </li>
                
                <li>
                    <a href="/villagers/index" style="--i: 0.2s;">Villagers</a>
                </li>
                <li>
                    <a href="/dressup/dressup_index" style="--i: 0.2s;">Dressup</a>
                </li>
                <li>
                    <a href="/tools/tools_index" style="--i: 0.2s;">Tools</a>
                </li>
                <li>
                    <a href="/wallpaper/wallpaper_index" style="--i: 0.25s;">Wallpapers</a>
                </li>
                <li>
                  <a href="/floor/floor_index" style="--i: 0.25s;">Floor</a>
              </li>
              <li>
                <a href="/accessory/accessory_index" style="--i: 0.25s;">ACCESSORIES</a>
            </li>
                <li>
                  <a href="/randomize/randomize_index" style="--i: 0.25s;">RANDOMIZE!</a>
              </li>
              
                
            </ul>
        </div>
    </div>

    <script src="{{url_for('static', filename='css/app.js')}}"></script>
    <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
</body>

</html>